* {
  background: no-repeat center center fixed;
  background-image: url("../assets/Light-Textured-Backgrounds-019.jpg");
  text-align: center;
  justify-items: center;

}

.grid-container{
  display: grid;
}

.h1{
 background:chocolate;
 width: 80vw; height: 15vw;
 font-size: 12vw;
 color: white;
 mix-blend-mode: multiply;
 margin: 2.5vw;
}

.button {
  background: blueviolet;
  width: 50vw; height: 7vw;
  font-size: 3vw ;
  border: 2px solid #c68153;
  transition-duration: 1700ms;
  color: white;
  mix-blend-mode: multiply;
  margin: 2.5vw;
}

.button:hover {
  background-color: #2b519785;
  color: whitesmoke;
}
