body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif';
    grid-template-columns: auto;
    grid-template-rows: auto;
    display: grid;

}

.bg, .bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg{
    -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    z-index: -1;
    background-color: blue;

}
.bg2{
    -webkit-clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
    clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
    z-index: -2;
    background-color: rgb(38, 38, 105);

}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-items: center;
    margin: 0 50px;
}

.ul{
    list-style-type: none;
    perspective: 1000px;

}

.ul .li {
    display: grid;
    grid-template-columns: 20% auto;
    list-style-type: none;

    border-radius: 10 px;
    padding: 15px;
    cursor: pointer;
    transform: rotateY(-30deg) rotateX(15deg);
    position: relative;
    border-bottom: 4px solid rgba(0,0,0,.2);
}



