html {
  background: no-repeat center center fixed;
  background-image: url("assets/sunset.jpg");
  background-size: cover;
  text-align: center;
  
}

body {
  
  background: no-repeat center center fixed; 
  background-image: url("assets/sunset.jpg");
  background-size: cover;
  text-align: center;
}

.h1{
 background:chocolate;
 color: white;
 mix-blend-mode: multiply;
 font-size: 8vw;
}

.button {
  background: blueviolet;
  font-size: 3vw ;
  border: 2px solid #c68153;
  transition-duration: 1700ms;
  width: 40vw; height: 7vw;
  color: white;
  mix-blend-mode: multiply;
  margin: 3vw;
}

.button:hover {
  background-color: #2b519785;
  color: whitesmoke;
}

