html {
  background: no-repeat center center fixed;
  background-image: url("assets/sunset.jpg");
  background-size: cover;
  text-align: center;
  
}

body {
  
  background: no-repeat center center fixed; 
  background-image: url("assets/sunset.jpg");
  background-size: cover;
  text-align: center;
}

.h1{
 background:chocolate;
 color: white;
 mix-blend-mode: multiply;
 font-size: 60px;
}

.button {
  background: blueviolet;
  font-size: 60px;
  border: 2px solid #c68153;
  /* transition-duration: 700ms; */
  width: 50vw; height: 10vw;
  color: white;
  mix-blend-mode: multiply;
}

.button:hover {
  background-color: #2b519785;
  color: whitesmoke;
}

