html {
  background: no-repeat center center fixed;
  background-image: url("assets/space.jpg");
  background-size: cover;
  text-align: center;
}

.button {
  background-color: transparent;
  padding: 25px 75px;
  font-size: 50px;
  border: 2px solid #c68153;
  transition-duration: 700ms;
}

.button:hover {
  background-color: #2b519785;
  color: whitesmoke;
}

